<div>
  <br>
  <div align="center">"A good hockey player plays where the puck is.</div>
  <div align="center">A great hockey player plays where the puck is going to be."</div>
  <div align="center">- Wayne Gretzky</div>
  <br>
</div>

<div align="center">
	<%=image_tag("home_greatness.jpg", alt: "Hockey Greatness")%>
</div>

<div align="center">
  <br>
  <p>Invited to Forge Greatness? Submit Invitation Code below:</p>
</div>

<div class="row">
  <div class="span6 offset1" align="center">
      <%= form_for(:invitations, url: "/invitation/verify") do |g| %>
        
          <%#= render 'shared/error_messages', object: g.object %>
        
          <%= g.label :invitation_code, "Invitation Code:" %>
          <%= g.text_field :invitation_code %>
          <br>

          <%= g.submit "Submit to Forge Greatness", class: "btn btn-primary" %>
      <% end %>
  </div>
  <br>
  <p align="center">Already have an account?  Click here to <%= link_to "Sign In", signin_path %>.</p>
</div>
