<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<p align="center">Already have an account?  Sign in below.</p>

<div class="row">
  	<div class="span6 offset3" align="center">
    	<%= form_for(:session, url: sessions_path) do |f| %>
      	
          <%#= render 'shared/error_messages', object: f.object %>
      	
          <%= f.label :email, "Email" %>
      		<%= f.text_field :email %>
          <br>
      		<%= f.label :password, "Password" %>
      		<%= f.password_field :password %>
          <br>
          <%= f.submit "Sign In", class: "btn btn-primary" %>

          <p><%= link_to "Forgot Password?", new_password_reset_path %></p>

    	<% end %>
    </div>
</div>

