<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<p>Already have an account?  Sign in below.</p>

<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(:session, url: sessions_path) do |f| %>
      	
          <%#= render 'shared/error_messages', object: f.object %>
      	
          <%= f.label :email %>
      		<%= f.text_field :email %>

      		<%= f.label :password %>
      		<%= f.password_field :password %>

          <p><%= link_to "Forgot Password?", new_password_reset_path %></p>

      		<%= f.submit "Sign In", class: "btn" %>
    	<% end %>
    </div>
</div>