<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<p>Already have an account?  Sign in below.</p>

<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(:session, url: sessions_path) do |f| %>
      	
          <%#= render 'shared/error_messages', object: f.object %>
      	
          <%= f.label :email %>
      		<%= f.text_field :email %>

      		<%= f.label :password %>
      		<%= f.password_field :password %>

          <p><%= link_to "Forgot Password?", new_password_reset_path %></p>

      		<%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
    	<% end %>
    </div>
</div>

<h1>Submit Invitation Code</h1>

<p>Been invited to attend a #9 Hockey event? Submit your Invitation Code below to Sign Up for #9 Hockey.</p>
<div class="row">
    <div class="span6 offset3">
      <%= form_for(:invitations, url: "/invitation/verify") do |g| %>
        
          <%#= render 'shared/error_messages', object: g.object %>
        
          <%= g.label :invitation_code, "Invitation Code" %>
          <%= g.text_field :invitation_code %>

          <%= g.submit "Submit Code", class: "btn btn-large btn-primary" %>
      <% end %>
  	</div>
</div>