<% provide(:title, "Home of #{@user.first_name}") %>

<% if !@players.empty? %>
	<h1>My <%= "Player".pluralize(@players.count) %>:</h1>

	<% @players.each do |player| %>
		<p>First Name: <%= player.first_name %> </p>
		<p>Last Name: <%= player.last_name %> </p>
		<p>Date of Birth:  <%= player.date_of_birth %> </p>	
		<p>Shoots:  <%= player.shoots %> </p>
		<p><%= link_to 'Edit Player Info', edit_player_path(player) %> </p>
		<br>

		<% if !@camps_array.empty? %>
			<p><%= "Camp Invitation".pluralize(@camps_array.count) %>:</p>
			<% @camps_array.each do |camp| %>
				<% if player.id == camp[:player_id] %>
					<p>Camp Name: <%= camp[:name] %> </p>
					<p>Camp Description: <%= camp[:description] %> </p>
					<p><%= link_to 'View Camp Details', camp_path(camp[:camp_id]) %> </p>
					<p>	<% if camp[:registration_id].blank? %>
							<%= link_to 'Register', new_player_camp_registration_path(camp) %> 
						<% else %>
							<%= link_to 'Update Registration', edit_player_camp_registration_path(id: camp[:registration_id]) %> 
							<%= link_to 'Un-Register', player_unregister_path(id: camp[:registration_id]), :method => :post %>
						<% end %>
					</p>
					<br>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% if !@coach.empty? %>
	<h1>My Coach's Profile:</h1>

	<p>First Name: <%= @coach.first_name %> </p>
	<p>Last Name: <%= @coach.last_name %> </p>
	<p>Date of Birth:  <%= @coach.date_of_birth %> </p>	
	<p>Shoots:  <%= @coach.shoots %> </p>
	<p><%#= link_to 'Edit', coach_path(@coach) %> </p>

<% end %>