<% provide(:title, "Home of #{@user.first_name}") %>

<% if !@players.empty? %>
	<h1>My <%= "Player".pluralize(@players.count) %>:</h1>

	<% @players.each do |player| %>
		<div id="box">
			<div id="left">
				<p><em>First Name: </em><%= player.first_name %> </p>
				<p><em>Last Name: </em><%= player.last_name %> </p>
				<p><em>Date of Birth:  </em><%= player.date_of_birth %> </p>	
				<p><em>Shoots:  </em><%= player.shoots %> </p>
				<p><%= link_to 'Edit Player Info', edit_player_path(player) %> </p>
				<br>
			</div>

			<div id="right">
				<% camp_invitation_count = 0 %>
				<% if @invited_camps_array.any? %>
					<% @invited_camps_array.each do |invited_camp| %>
						<% if invited_camp[:player_id] == player.id %>
							<% camp_invitation_count += 1 %>
						<% end %>
					<% end %>
				<% end %>

				<% if camp_invitation_count > 0 %>
					<p><strong><%= "Camp Invitation".pluralize(camp_invitation_count) %>:</strong></p>
					<% @invited_camps_array.each do |invited_camp| %>
						<% if player.id == invited_camp[:player_id] %>
							<p><em>Camp Name: </em><%= invited_camp[:name] %> </p>
							<p><em>Age Group: </em><%= invited_camp[:age_group] %> </p>
							<p><em>Camp Highlights: </em><%= invited_camp[:highlights] %> </p>
							<p><em><%= "Camp Date".pluralize(invited_camp[:dates]) %>: </em>
								<%= invited_camp[:dates].map{|date| date}.join(", ") %>
							</p>
							<p>
								<%= link_to 'View Camp Details', camp_path(invited_camp[:camp_id]) %>
								&nbsp;
								&nbsp;
								&nbsp;
								<%= link_to 'Register', new_player_camp_registration_path(invited_camp) %> 
							</p>
							<br>
						<% end %>
					<% end %>
				<% end %>
			
				<% camp_registration_count = 0 %>
				<% if @registered_camps_array.any? %>
					<% @registered_camps_array.each do |registered_camp| %>
						<% if registered_camp[:player_id] == player.id %>
							<% camp_registration_count += 1 %>
						<% end %>
					<% end %>
				<% end %>

				<% if camp_registration_count > 0 %>
					<p><strong><%= "Camp Registration".pluralize(camp_registration_count) %>:</strong></p>
					<% @registered_camps_array.each do |registered_camp| %>
						<% if player.id == registered_camp[:player_id] %>
							<p><em>Camp Name:</em> <%= registered_camp[:name] %> </p>
							<p><em>Age Group:</em> <%= registered_camp[:age_group] %> </p>
							<p><em>Camp Highlights:</em> <%= registered_camp[:highlights] %> </p>
							<p><em><%= "Camp Date".pluralize(registered_camp[:dates]) %>: </em> 
								<%= registered_camp[:dates].map{|date| date}.join(", ") %>
							</p>
							<p>
								<%= link_to 'View Camp Details', camp_path(registered_camp[:camp_id]) %>
								&nbsp;
								&nbsp;
								&nbsp;
								<%= link_to 'Update Registration', edit_player_camp_registration_path(id: registered_camp[:registration_id]) %> 
								&nbsp;
								&nbsp;
								&nbsp;
								<%= link_to 'Un-Register', player_unregister_path(id: registered_camp[:registration_id]), :method => :post %>
							</p>
							<br>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<br>
	<% end %>
<% end %>

<% if !@coach.empty? %>
	<h1>My Coach's Profile:</h1>

	<p>First Name: <%= @coach.first_name %> </p>
	<p>Last Name: <%= @coach.last_name %> </p>
	<p>Date of Birth:  <%= @coach.date_of_birth %> </p>	
	<p>Shoots:  <%= @coach.shoots %> </p>
	<p><%#= link_to 'Edit', coach_path(@coach) %> </p>

<% end %>