<%= render 'shared/error_messages', object: player_camp_registration.object %>

<div class="inline">
<%= player_camp_registration.label :jersey_size, 'Jersey Size:' %>
<%= player_camp_registration.select :jersey_size, options_for_select([['Select One', ''], ['Youth S/M','Youth S/M'], ['Youth L/XL', 'Youth L/XL'], ['Adult S', 'Adult S'], ['Adult M', 'Adult M'], ['Adult L', 'Adult L'], ['Adult XL', 'Adult XL'], ['Adult XXL', 'Adult XXL']]) %>
</div>

<dl class="dl-horizontal">
<%= player_camp_registration.label :terms_agreement, "Initial:" %>
<%= player_camp_registration.text_field :terms_agreement %>
</dl>

<%= player_camp_registration.hidden_field :player_id, value: @player.id %>
<%= player_camp_registration.hidden_field :camp_id, value: @camp.id %>