<% provide(:title, 'Register') %>

<h1>Registration for Camp</h1>

<div id="left_registration_box">
	<h1><%= @camp.name %></h1>

	<p><strong>Age Group: </strong><%= @age_group.name %></p>
	<p><strong>Price: </strong><%= number_to_currency(@camp.price, :unit => "$") %></p>
	<p><strong>Camp Highlights: </strong></p>
	<p><%= @camp.highlights %></p>
	
	<!-- table to show associated dates, times & rinks -->
	<table class="table table-bordered">
		<tr>
			<th>Date:</th>
			<th>Time Start:</th>
			<th>Time End:</th>
			<th>Rink:</th>
			<!--<th>Sheet:</th>-->
		</tr>
		<% @camp_dates_times_rinks.each do |details| %>
			<tr>
				<td><%= details[:date] %></td>
				<td><%= details[:start_time] %></td>
				<td><%= details[:end_time] %></td>
				<td><%= details[:rink_name] %></td>
				<!--<td><%#= details.rink_name %></td>-->
				<% if current_user.admin? %>
					<td><%= link_to 'Edit', edit_camp_date_time_location_path(@camp, details[:id]) %></td>
					<td><%= link_to 'Delete', camp_date_time_location_path(@camp, details[:id]), :method => :delete %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<br>
	<br>
</div>

<div id="right_registration_box">
	<h1>Registration Form:</h1>	

	<div align="center">
		<p>Registration for: <%= @player.first_name %> <%= @player.last_name %></p>
	
		<%= form_for(@player_camp_registration) do |registration| %>
       		<%= render 'registration_form', player_camp_registration: registration %>
    		<%= registration.submit "Register", class: "btn btn-large btn-primary" %>
    	<% end %>	
    	
    	<p><%= link_to "Player Camp Agreement", player_camp_agreement_path %></p>
    	<p><%= link_to "Refund Policy", refund_policy_path %></p>

	</div>
</div>