<% provide(:title, 'Register') %>
<h1><%= @camp.name %>: Camp Registration</h1>

<div class="row">
  <div class="span6 offset3">
  	<li>For: <%= @player.first_name %> <%= @player.last_name %></li>
   	<%= form_for(@player_camp_registration) do |registration| %>
       	<%= render 'registration_form', player_camp_registration: registration %>

    	<%= registration.submit "Register", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
