<p>First Name:  <%= @scouting_request.first_name %></p>
<p>Last Name:	<%= @scouting_request.last_name %></p>
<p>Email:		<%= @scouting_request.email %></p>
<br>

<p>Support Message:</p>
<p><%= @scouting_request.message %></p>
<br>

<p>Reference Page:</p>
<p><%#= session[:return_to] %></p>

<p>Date / Time Created: <%= @scouting_request.created_at %></p>