<p>First Name:  <%= @support_request.first_name %></p>
<p>Last Name:	<%= @support_request.last_name %></p>
<p>Email:		<%= @support_request.email %></p>
<br>

<p>Support Message:</p>
<p><%= @support_request.message %></p>
<br>

<p>Reference Page:</p>
<p><%#= session[:return_to] %></p>

<p>Date / Time Created: <%= @support_request.created_at %></p>