<% provide(:title, @player.last_name) %>

<p>Player Name: <%= @player.first_name %> <%= @player.last_name %></p>
<p>Date of Birth: <%= @player.date_of_birth %></p>
<p>Shoots: <%= @player.shoots %></p>

<p>Linked User: 
	<%# if @user.nil? %>
		No linked User.
	<%# else %>
		<%#= link_to 'User', '#' %>
	<%# end %>

</p>	
<div>
	<%= link_to "Edit Player",	edit_player_path(@player), class: "btn btn-large btn-primary" %>
	<%#= link_to "Merge",		'#' , class: "btn btn-large btn-primary" %>
</div>

<br>
<br>
<p>Evaluations of this Player:</p>
<!-- table to show associated dates, times & rinks -->
<table class="table table-bordered">
	<tr>
		<th>Date:</th>
		<th>Evaluation Type:</th>
		<th>League:</th>
		<th>Team:</th>
		<!--<th>what else?</th>-->
	</tr>
	<!-- get to sort by dates-->
	<% @player_evaluations.each do |evaluation| %>
		<tr>
			<td><%= evaluation.date %></td>
			<td><%= evaluation.evaluation_type %></td>
			<td><%= evaluation.league %></td>
			<td><%= evaluation.team %></td>
			<!--<td><%#= evaluation.something_else %></td>-->
			<td><%= link_to 'Edit Eval', edit_player_player_evaluation_path(@player, evaluation) %></td>
			<td><%= link_to 'Delete Eval', player_player_evaluation_path(@player, evaluation), :method => :delete %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Add Evaluation', new_player_player_evaluation_path(@player) %>

<br>
<br>
<br>
<p>Camps for this Player:</p>
<table class="table table-bordered">
	<tr>
		<th>Camp Name:</th>
		<th>Description:</th>
		<th>Age Group:</th>
		<th>Dates:</th>
		<!--<th>Sheet:</th>-->
	</tr>
	<% @camps.each do |camp| %>
		<tr>
			<td><%= camp.name %></td>
			<td><%= camp.description %></td>
			<td><%= camp.age_group %></td>
			<td><%#= date.rink_id %></td>
			<!--<td><%#= date.sheet %></td>-->
			<td>	
				<% if camp.publish_date.nil? %>
					Camp is not published.
				<% else %>
					<%= form_for(:players, url: "/players/invite") do |invitation| %>
	        
	          			<%= invitation.hidden_field :player_id, value: @player.id %>
	          			<%= invitation.hidden_field :camp_id, value: camp.id %>

	          			<% if PlayerCampInvitations.invited(@player.id, camp.id) == 'invited' %>
							<%= invitation.submit "Un-Invite", class: "btn btn-large btn-primary" %>
	          			<% else %>
	          				<%= invitation.submit "Invite", class: "btn btn-large btn-primary" %>
	          			<% end %>
	      			<% end %>
	      		<% end %>
			</td>
		</tr>
	<% end %>
</table>
