<% provide(:title, @player.last_name) %>

<p>Player Name: <%= @player.first_name %> <%= @player.last_name %></p>
<p>Date of Birth: <%= @player.date_of_birth %></p>
<p>Shoots: <%= @player.shoots %></p>

<p>Linked User: 
	<% if @user.nil? %>
		No linked User.
	<% else %>
		<%= link_to 'User', '#' %>
	<% end %>

</p>	
<div>
	<%= link_to "Edit",		edit_player_path(@player), class: "btn btn-large btn-primary" %>
	<%= link_to "Merge",	'#' , class: "btn btn-large btn-primary" %>
</div>

<br>
<br>
<p>Evaluations of this Player:</p>
<!-- table to show associated dates, times & rinks -->
<table class="table table-bordered">
	<tr>
		<th>Date:</th>
		<th>Evaluation Type:</th>
		<th>League:</th>
		<th>Team:</th>
		<!--<th>what else?</th>-->
	</tr>
	<!-- get to sort by dates-->
	<% @player_evaluations.each do |evaluation| %>
		<tr>
			<td><%= evaluation.date %></td>
			<td><%= evaluation.evaluation_type %></td>
			<td><%= evaluation.league %></td>
			<td><%= evaluation.team %></td>
			<!--<td><%#= evaluation.something_else %></td>-->
			<td><%= link_to 'Edit', edit_player_player_evaluation_path(@player, evaluation) %></td>
			<td><%= link_to 'Delete', player_player_evaluation_path(@player, evaluation), :method => :delete %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Add Evaluation', new_player_player_evaluation_path(@player) %>

<br>
<br>
<br>
<p>Camps for which this Player is elegible:</p>
<table class="table table-bordered">
	<tr>
		<th>Date:</th>
		<th>Time Start:</th>
		<th>Time End:</th>
		<th>Rink:</th>
		<!--<th>Sheet:</th>-->
	</tr>
	<%# @dates.each do |date| %>
		<tr>
			<td><%#= date.date %></td>
			<td><%#= date.start_time %></td>
			<td><%#= date.end_time %></td>
			<td><%#= date.rink_id %></td>
			<!--<td><%#= date.sheet %></td>-->
			<td>	
				<%# if @camp.publish_date.nil? %>
					<%#= link_to "Invite", { action: "invite", id: @player.id }, class: "btn btn-large btn-primary", :method => :post %>
				<%# else %>
					<%#= link_to "Un-Invite", { action: "uninvite", id: @player.id }, class: "btn btn-large btn-primary", :method => :post %>
				<%# end %>
			</td>
		</tr>
	<%# end %>
</table>
