<header class="navbar navbar-fixed-top navbar-inverse">
   	<div class="navbar-inner">
       	<div class="container">
       	<%= link_to "#9 Hockey", '#', id: "logo" %>
       		<nav>
           		<ul class="nav pull-right">
            		<li><%= link_to "Home",		'#' %></li>
            		<li><%= link_to "Why #9?",  '#' %></li>
            		<li><%= link_to "About Us", '#' %></li>
            		<li><%= link_to "Log In", 	'#' %></li>
       			</ul>
       		</nav>
       	</div>
   	</div>
</header>