<header class="navbar navbar-inverse navbar-fixed-top">
   	<div class="navbar-inner">
      <div class="container">
       	<%= link_to "#9 Hockey", root_path, id: "logo" %>
      	<nav>
         		<ul class="nav pull-right">
           		<li><%= link_to "Home",		root_path %></li>
           		<li><%= link_to "Why #9?",  why_9_path %></li>
          		<li><%= link_to "About Us", about_us_path %></li>
          		<li><%= link_to "Log In", 	login_path %></li>
        		</ul>
      	</nav>
      </div>
   	</div>
</header>
